/* CSS for codplayer web admin GUI
 *
 * Copyright 2014 Peter Liljenberg <peter.liljenberg@gmail.com>
 *
 * Distributed under an MIT license, please see LICENSE in the top dir.
 */

body {
    padding: 10px 0px;
}

/* Override bootstrap padding to get a good hover effect on the lists */
.list-group-item {
    padding: 0px 15px;
}

/*
 * Common hover stuff
 */
.hover-row:hover {
    background-color: #cdf;
}


/*
 * Unexpanded single disc row
 */
.disc-row {
    padding: 8px 0px;
}

.detail-row {
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
}

.track-row {
    padding: 4px 0px;
}


/* Normally display the number of tracks, but on hover in the main disc list
 * show a play button instead
 */
.disc-row .play-disc {
    display: none;
}

#disc-list .disc-row:hover .play-disc {
    display: inline;
}

.disc-row .num-tracks {
    display: inline;
}

#disc-list .disc-row:hover .num-tracks {
    display: none;
}
 

/*
 * Disc details view
 */

.disc-details-view .disc-row div {
    font-weight: bold;
}

.disc-details {
    margin-top: 10px;
}

.release-date {
    margin: 8px 0px;
}

.cover-image {
    display: block;
    margin: 8px 0px;
}

.edit-date {
    margin: 8px 0px;
}

.track-number, .track-length {
    text-align: right;
}

.skipped-track div {
    text-decoration: line-through;
    color: #aaa;
}

.pause-after {
    text-align: center;
}

/*
 * Musicbrainz details view
 */
.mb-disc-cover-image {
    width: 50px;
    height: 50px;
    margin: 4px;
}

.mb-disc-row {
    margin: 0px 15px;
}

table.mb-disc {
    margin-bottom: 0px;
}

.mb-track-number {
    text-align: right;
}

.mb-track-length {
    text-align: right;
}


/* Alerts are shown in a fixed box at the top */
#alert-area {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: auto;
    z-index: 100;
}

/* Help link is always visible */
#help-link {
    position: fixed;
    top: 2px;
    left: 2px;
    z-index: 50;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 3px;
}

/* Players are shown to the bottom right */
#players {
    position: fixed;
    top: auto;
    bottom: 0px;
    right: 0px;
    width: 400px;
}
    
#players div.panel {
    margin: 2px 2px;
}

iframe.player {
    width: 100%;
    height: 200px;
}
