<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>codplayer admin</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- All the third-party goodies -->
  <script src="libs/jquery-2.0.3.min.js"></script>
  <script src="libs/underscore-min.js"></script>
  <script src="libs/backbone-min.js"></script>
  <link rel="stylesheet" href="libs/bootstrap.min.css">
  <link rel="stylesheet" href="libs/bootstrap-theme.min.css">
  <script src="libs/bootstrap.min.js"></script>

  <!-- Our own stuff --> 
  <link rel="stylesheet" href="codadmin.css" type="text/css">
  <script src="codadmin.js"></script>

</head>
<body>
  <div id="alert-area" class="container">
  </div>
  
  <div id="help-link" class="bg-info text-info">
    <a target="_blank"
       href="https://github.com/petli/codplayer/blob/master/doc/dbadmin.md">
      Docs
    </a>
  </div>

  <!--
    -- Navigation and holder for the disc list
    -->
  <div id="discs" class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <ul class="nav nav-tabs nav-justified">
          <li id="show-all-discs" class="active"><a href="#">All discs</a></li>
          <li id="show-discs-with-info"><a href="#">Discs with info</a></li>
          <li id="show-discs-without-info"><a href="#">Discs without info</a></li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <ul id="disc-list" class="list-group">
        </ul>
      </div>
    </div>
  </div>

  <!-- Holder for player elements -->
  <div id="players">
  </div>

  <!-- Disc selection modal popup -->
  <div id="disc-selection" class="modal" tabindex="-1" role="dialog"
       aria-labelledby="disc-selection-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="disc-selection-title"></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <ul id="disc-selection-list" class="list-group">
              </ul>
            </div>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
  </div>

  <!--
    -- TEMPLATE: disc row for folded or expanded discs
    -->
  <script type="text/template" id="disc-row-template">
    <div class="hover-row row disc-row toggle-details"
         data-disc-id="<%- disc_id %>">
    <% if (artist || title) { %>
      <div class="col-xs-5"><%- artist %></div>
      <div class="col-xs-7"><%- title %>
    <% } else { %>
      <div class="col-xs-12">Disc ID: <%- disc_id %>
    <% } %>
        <span class="pull-right">
          <% if (link_type === "alias") { %>
            <span class="glyphicon glyphicon-link"></span>
          <% } %>
          <span class="num-tracks badge">
            <% if (typeof tracks === 'number') { %><%- tracks %><% } else { %><%- tracks.length %><% } %>
          </span>
          <button type="button" class="play-disc btn btn-default btn-xs">
            <span class="glyphicon glyphicon-play"></span>
          </button>
        </span>
      </div>
    </div>
  </script>
  
  <!--
    -- TEMPLATE: disc details, added under the disc row
    -->
  <script type="text/template" id="disc-detail-template">
    <div class="disc-details row detail-row">
      <fieldset>

      <div class="col-xs-10">
        <ul class="list-group disc-tracks">
        <% var i; for (i = 0; i < tracks.length; i++) { %>
           <li class="list-group-item">
             <div class="track-row hover-row row <%- tracks[i].skip ? 'skipped-track' : '' %>">
               <div class="col-xs-1 track-number"><%- tracks[i].number %></div>
               <div class="col-xs-1 track-length"><%- this.formatTime(tracks[i].length) %></div>
               <div class="col-xs-10">
                 <div><%- tracks[i].title %></div>
                 <% if (tracks[i].artist && tracks[i].artist !== artist) { %>
                 <div><%- tracks[i].artist %></div>
                 <% } %>
               </div>
             </div>
           </li>
           <% if (tracks[i].pause_after) { %>
           <li class="list-group-item">
             <div class="row">
               <div class="pause-after col-xs-12">
                 <span class="glyphicon glyphicon-pause"></span>
               </div>
             </div>
           </li>
           <% } %>
        <% } %>
        </ul>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-4 col-md-3"><strong>Disc ID</strong></div>
              <div class="col-xs-8 col-md-9"><%- disc_id %></div>
            </div>
            <% if (catalog) { %>
            <div class="row">
              <div class="col-xs-4 col-md-3"><strong>Catalog</strong></div>
              <div class="col-xs-8 col-md-9"><%- catalog %></div>
            </div>
            <% } %>
            <% if (barcode) { %>
            <div class="row">
              <div class="col-xs-4 col-md-3"><strong>Barcode</strong></div>
              <div class="col-xs-8 col-md-9"><%- barcode %></div>
            </div>
            <% } %>
            <% if (link_type && linked_disc) { %>
            <div class="row">
              <div class="col-xs-4 col-md-3"><strong>
                  <%- link_type === "alias" ? "Alias for" :
                      link_type === "next" ? "Next in set" :
                      "Linked as " + link_type + " to" %>
              </strong></div>
              <div class="col-xs-8 col-md-9">
                <div class="row">
                  <div class="col-xs-12"><%- linked_disc.get("artist") %></div>
                  <div class="col-xs-12"><%- linked_disc.get("title") %></div>
                  <div class="col-xs-12"><%- linked_disc.get("disc_id") %></div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>

      <div class="col-xs-2">
        <% if (cover_mb_id) { %>
        <img class="cover-image img-thumbnail img-responsive"
             src="http://coverartarchive.org/release/<%- cover_mb_id %>/front-250.jpg">
        <% } %>
        
        <div class="release-date"><%- date %></div>

        <button type="button"
                class="edit-disc btn btn-primary btn-block">
          Edit
        </button>
        <button type="button"
                class="fetch-musicbrainz btn btn-primary btn-block"
                data-loading-text="Fetching...">
          Fetch info
        </button>

        <div class="btn-group btn-block">
          <button type="button"
                  class="btn btn-default btn-block dropdown-toggle"
                  data-toggle="dropdown" aria-expanded="false">
            Link <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
              <li><a href="#" class="link-disc"
                     data-type="alias"
                     data-title="Select the disc that this one should be an alias for">
                  <span class="glyphicon glyphicon-link"></span>
                  As alias for another disc
              </a></li>
            <% if (link_type) { %>
              <li><a href="#" class="remove-link">
                  <span class="glyphicon glyphicon-remove"></span>
                  Remove link to the other disc
              </a></li>
            <% } %>
          </ul>
      </div>
                  
      </fieldset>
    </div>
  </script>

  <!--
    -- TEMPLATE: disc edit view, replaces the standard disc row
    -->
  <script type="text/template" id="disc-edit-template">
    <fieldset>
      <div class="row disc-row">
        <div class="col-xs-5">
          <input data-edit-field="disc-artist"
                 class="form-control"
                 placeholder="Artist"
                 value="<%- artist %>" >
        </div>
        <div class="col-xs-5">
          <input data-edit-field="disc-title"
                 class="form-control"
                 placeholder="Title"
                 value="<%- title %>" >
        </div>
        
        <div class="col-xs-2">
        </div>
      </div>

      <div class="row detail-row">
        <div class="col-xs-10">
          <ul class="list-group disc-tracks">
            <% var i; for (i = 0; i < tracks.length; i++) { %>
               <li class="list-group-item">
                 <div class="track-row row">
                   <div class="col-xs-12">
                     <div class="row">
                       <div class="col-xs-1 track-number"><%- tracks[i].number %></div>
                       <div class="col-xs-1 track-length"><%- this.formatTime(tracks[i].length) %></div>
                       <div class="col-xs-10">
                         <input data-edit-field="track-title"
                                data-edit-track-index="<%- i %>"
                                class="form-control input-sm"
                                placeholder="Track title"
                                value="<%- tracks[i].title %>" >
                       </div>
                     </div>

                     <div class="row">
                       <div class="col-xs-2">
                         <div class="btn-group" data-toggle="buttons">
                           <label class="btn btn-default btn-xs <%=
                                           tracks[i].skip ? 'active' : '' %>"
                                  data-edit-field="track-skip"
                                  data-edit-track-index="<%- i %>">
                             <input type="checkbox">
                             <span class="glyphicon glyphicon-thumbs-down"></span>
                           </label>
                           <label class="btn btn-default btn-xs <%=
                                           tracks[i].pause_after ? 'active' : '' %>"
                                  data-edit-field="track-pause-after"
                                  data-edit-track-index="<%- i %>">
                             <input type="checkbox"> 
                             <span class="glyphicon glyphicon-pause"></span>
                           </label>
                         </div>
                       </div>
                       
                       <div class="col-xs-10">
                         <input data-edit-field="track-artist"
                                data-edit-track-index="<%- i %>"
                                class="form-control input-sm"
                                placeholder="Track artist (if different to disc artist)"
                                value="<%- tracks[i].artist %>" >
                       </div>
                     </div>
                   </div>
                 </div>
               </li>
             <% } %>
          </ul>
        </div>

        <div class="col-xs-2">
          <% if (cover_mb_id) { %>
          <img class="cover-image img-thumbnail img-responsive"
               src="http://coverartarchive.org/release/<%- cover_mb_id %>/front-250.jpg">
          <% } %>

          <input data-edit-field="date"
                 class="form-control input-sm edit-date"
                 placeholder="Release date"
                 value="<%- date %>" >

          <button type="button"
                  class="save-edit btn btn-success btn-block"
                  data-loading-text="Saving...">
            Save
          </button>
          <button type="button"
                  class="cancel-edit btn btn-default btn-block">
            Cancel
          </button>
        </div>
      </div>
    </fieldset>
  </script>


  <!--
    -- TEMPLATE: Musicbrainz info view, replaces the standard disc row
    -->
  <script type="text/template" id="disc-mbinfo-template">
    <div class="row disc-row">
      <h4 class="col-xs-12">Select a record <small>(you will be able to edit it before saving)</small></h4>
    </div>
    <div class="row detail-row mb-discs">
    </div>
    <div class="row detail-row">
      <div class="col-xs-12">
        <button type="button"
                  class="cancel-mbinfo btn btn-default pull-right">
          Cancel
        </button>
      </div>
    </div>
  </script>


  <!--
    -- TEMPLATE: Individual Musicbrainz disc instances shown in the info view
    -->
  <script type="text/template" id="mbdisc-template">
    <% if (cover_mb_id) { %>
    <img class="pull-left img-thumbnail mb-disc-cover-image"
         src="http://coverartarchive.org/release/<%- cover_mb_id %>/front-250.jpg">
    <% } %>
    <div><%- artist %></div>
    <div><%- title %></div>

    <table class="table mb-disc">
      <% var i; for (i = 0; i < tracks.length; i++) { %>
         <tr>
           <td class="mb-track-number"><%- tracks[i].number %></td>
           <td class="mb-track-length"><%- this.formatTime(tracks[i].length) %></td>
           <td class="mb-track-info">
             <div><%- tracks[i].title %></div>
             <% if (tracks[i].artist && tracks[i].artist !== artist) { %>
             <div><%- tracks[i].artist %></div>
                <% } %>
           </td>
         </tr>
      <% } %>
    </table>
  </script>


  <!--
    -- TEMPLATE: Alert box at the top
    -->
  <script type="text/template" id="alert-template">
    <% if (header || message) { %>
    <div class="row">
      <div class="alert-danger alert-dismissable alert col-xs-12 col-lg-10 col-lg-offset-1">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong><%- header %></strong> <%- message %>
      </div>
    </div>
    <% } %>
  </script>


  <!--
    -- TEMPLATE: Player container
    -->
  <script type="text/template" id="player-template">
    <div class="panel panel-default">
      <div class="panel-heading">
        <input type="radio" class="active-player radio-inline"
               name="active-player">
        <%- name %> <span class="player-state pull-right"></span>
      </div>
      <div class="panel-collapse collapse">
        <iframe class="player" src="<%- url %>">
        </iframe>
      </div>
    </div>
  </script>
</body>
</html>
  
