/* CSS for codplayer web control widget server
 *
 * Copyright 2013-2014 Peter Liljenberg <peter.liljenberg@gmail.com>
 *
 * Distributed under an MIT license, please see LICENSE in the top dir.
 */

body {
    background-color: #444;
    padding: 0px;
    margin: 0px;

    font-size: 12pt;
    font-family: sans-serif;
}

/*
 * Main layout
 */

#controls {
    position: fixed;
    top: 0px;
    bottom: 5em;

    width: 40em;
    max-width: 100%;
    margin: 4px auto;

    text-align: center;
    vertical-align: middle;
}

#album {
    position: fixed;
    top: 5em;
    bottom: 0px;

    width: 40em;
    max-width: 100%;
    margin: 4px auto;

    text-align: center;
}



/*
 * Control layout
 */
.control-pane {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
}


/* Button layout */
#eject {
    margin-right: 10px;
}

#stop {
    margin-left: 10px;
}


/* State layout */

.state-info-box {
    display: inline-block;
    background-color: #ddd;
    padding: 4px;
    font-size: 14pt;
    border-radius: 4px;
}

.left-value {
    display: inline-block;
    text-align: right;
}

.right-value {
    display: inline-block;
    text-align: left;
}

.pos {
    width: 2em;
}

.time {
    width: 3em;
}


#ripping-state {
    position: absolute;
    top: 3px;
    right: 17px;
    display: none;
    border: 1px solid #444;
    font-size: 8pt;
    min-width: 4.5em;
    border-radius: 2px;
}
    

/*
 * Error boxes
 */

#errors {
    position: absolute;
    top: auto;
    right: 8px;
    left: 8px;
    bottom: 6px;
}

.error {
    display: none;
    padding: 5px 8px;
    margin: 4px 0px;
    background: #ffccd4;
    color: #f00;
    border: 1px solid #f00;
    border-radius: 3px
}

/*
 * Album info
 */

.scrollable {
    overflow-y: auto;
    height: 100%;
    padding: 0px 8px;
}

.album-info {
    text-align: center;
    vertical-align: baseline;
}
    
.album-info-item {
    display: inline-block;
    background-color: #ddd;
    font-size: 14pt;
    padding: 4px 8px;
    margin: 6px 6px;
    border-radius: 3px;
}

#track-list {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.full-track-info-box {
    display: block;
    background-color: #ddd;
    padding: 4px;
    margin: 6px auto 6px auto;
    text-align: left;
    border-radius: 3px;
}

.short-track-info-box {
    display: inline-block;
    background-color: #ddd;
    padding: 4px;
    margin: 6px 3px 6px 3px;
    min-width: 5em;
    border-radius: 3px;
}

.track-info {
    display: inline-block;
    padding-left: 8px;
}

.full-track-info-box .track-number {
    display: inline-block;
    vertical-align: top;
    min-width: 2em;
    text-align: right;
}

.full-track-info-box .track-length {
    display: inline-block;
    vertical-align: top;
    min-width: 2.5em;
    text-align: right;
}

.current-track {
    background-color: #acf;
}

/*
 * Symbol font
 */
@font-face {
    font-family: "cod-symbols";
    src: url('cod-symbols.woff');
}

.symbol {
    font-family: "cod-symbols";
}

button.symbol {
    font-size: 14pt;
}

