/* CSS for codplayer web admin GUI
 *
 * Copyright 2014 Peter Liljenberg <peter.liljenberg@gmail.com>
 *
 * Distributed under an MIT license, please see LICENSE in the top dir.
 */

body {
    padding: 10px 0px;
}

/* Override bootstrap padding to get a good hover effect on the lists */
.list-group-item {
    padding: 0px 15px;
}

.disc-row {
    padding: 8px 0px;
}

.detail-row {
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
}

.track-row {
    padding: 4px 0px;
}

.hover-row:hover {
    background-color: #cdf;
}

.disc-details-view .disc-row div {
    font-weight: bold;
}

.disc-details {
    margin-top: 10px;
/*    display: none;  */
}

.release-date {
    margin: 8px 0px;
}

.cover-image {
    display: block;
    margin: 8px 0px;
}

.edit-date {
    margin: 8px 0px;
}

.mb-disc-cover-image {
    width: 50px;
    height: 50px;
    margin: 4px;
}

.mb-disc-row {
    margin: 0px 15px;
}

table.mb-disc {
    margin-bottom: 0px;
}

.mb-track-number {
    text-align: right;
}

.mb-track-length {
    text-align: right;
}


/* Alerts are shown in a fixed box at the top */
#alert-area {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: auto;
    z-index: 100;
}
