/* CSS for codplayer web control widget server
 *
 * Copyright 2013 Peter Liljenberg <peter.liljenberg@gmail.com>
 *
 * Distributed under an MIT license, please see LICENSE in the top dir.
 */

@font-face {
    font-family: "cod-symbols";
    src: url('cod-symbols.woff');
}

.symbol {
    font-family: "cod-symbols";
}

button.symbol {
    font-size: 16px;
}

.track-number {
    text-align: right;
}

.track-length {
    text-align: right;
}
