/* CSS for codplayer web control widget server
 *
 * Copyright 2013 Peter Liljenberg <peter.liljenberg@gmail.com>
 *
 * Distributed under an MIT license, please see LICENSE in the top dir.
 */

@font-face {
    font-family: "entypo";
    src: url('entypo.woff');
}

button.symbol {
    font-family: "entypo";
    font-size: 32px;
}